<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a href="" class="navbar-brand">{{title}}</a>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right text-center">
          <li>
            <!-- Default switch -->
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
  <label class="form-check-label" for="flexSwitchCheckDefault"
    >Expertenmodus</label>
</div>
          </li>
        </ul>
      </div>
    </div>
  </div>