<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a href="" class="navbar-brand">{{title}}</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right text-center">
          <li class="active"><a href="#">prvo</a></li>
          <li><a href="#">trece</a></li>
        </ul>
      </div>
    </div>
  </div>