<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a href="" class="navbar-brand">Logo</a>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right text-center">
        <li>
            <a routerLink="/expert">Expertenmodus</a>
        </li>
        <li>
          <a routerLink="/start">Neue Simulation</a>
        </li>
        <li>
          <a routerLink="/dashboard">Ergebnisse</a>
        </li>
      </ul>
    </div>
  </div>
</div>
