/* position: absolute problematic on small screens*/
.footer {
    position: static;
    margin: 1 auto;
    width: 100%;
}
#p {
    margin-bottom: 0;
}
.smallpad {
    padding-top: 4;
    padding-bottom: 4;
}

footer {
  background-color: #313036 !important;
  font-family: 'Verdana', Verdana!important;
  margin: 1!important;
  overflow-x: hidden!important;
  color: #FDFDFF!important;
}
