<div class="container">
  <h1>zis is ze chart zection</h1>
  <!--Gesamtübersicht-->
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <canvas id=gesamtZahlen></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="gesamtVermoegen"></canvas>
      </div>
    </div>
  </div>
  <!--Gesamtvermögen Details-->
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <canvas id="gesamtVermoegenL"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="gesamtVermoegenPU"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="gesamtVermoegenK"></canvas>
      </div>
    </div>
  </div>
  <!--Input/Output-->
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <canvas id="InputL"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="InputPU"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="InputK"></canvas>
      </div>
    </div>
  </div>
  <!--Topvermögen nach Zugehörigkeit-->
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <canvas id="TopvermoegenL"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="TopvermoegenPU"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="TopvermoegenK"></canvas>
      </div>
    </div>
  </div>
</div>
