<div class="container" style="padding-top: 2%">
  <h1>Übersicht über deine Simulation</h1>
  <br>

  <!--Rundenstatistik-->
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <h2>Rundenstatistik Lieferanten</h2>
        <canvas id=rundenStatistikL></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <h2>Rundenstatistik Produktionsunternehmen</h2>
        <canvas id="rundenStatistikPU"></canvas>
      </div>
    </div>
    <div class="col-sm">
        <div id="charts">
          <h2>Rundenstatistik Kunden</h2>
          <canvas id="rundenStatistikK"></canvas>
        </div>
      </div>
  </div>
  <br>

  <!--Gesamtübersicht>
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <h2>Gesamtanzahlen</h2>
        <canvas id=gesamtZahlen></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <h2>Gesamtvermögen im Verlauf</h2>
        <canvas id="gesamtVermoegen"></canvas>
      </div>
    </div>
  </div>
  <br>
  <!--Kapitalranking>
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <h2>Vermögensranking Lieferanten</h2>
        <canvas id="KapitalrankingL"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <h2>Vermögensranking Unternehmen</h2>
        <canvas id="KapitalrankingPU"></canvas>
      </div>
    </div>
    <br>
  </div>
  <br>
  <!--Topvermögen nach Zugehörigkeit>
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <canvas id="BiggestL"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <canvas id="BiggestPU"></canvas>
      </div>
    </div>
  </div>
  <br>
</div-->
