<div class="container" style="padding-top: 2%">
  <h1>Übersicht über deine Simulation</h1>
  <br>

  <!--Rundenstatistik-->
  <div class="row">
      <h2>Gesamtvermögen</h2>
    <div class="col-sm">
      <div id="charts">
        <h2>Lieferanten</h2>
        <canvas id=rundenStatistikL></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div id="charts">
        <h2>Produktionsunternehmen</h2>
        <canvas id="rundenStatistikPU"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div id="charts">
        <h2>Kunden</h2>
        <canvas id="rundenStatistikK"></canvas>
      </div>
    </div>
    <div class="col-sm">
          <h2>Rundenanzahl</h2>
          <div class="overview">{{ arraylength }} </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <h2>Rundenverlauf</h2>
          <table class="table table-sm table-striped table-hover table-dark tbl-color tbl-content">
              <tr>
                  <th>Runde</th>
                  <th>Vermögen Lieferanten</th>
                  <th>Vermögen Produzenten</th>
                  <th>Vermögen Kunden</th>
                  <th>Aktive Events</th>
                </tr>
                <tr *ngFor="let item of [].constructor(arraylength); let round = index">
                    <td>
                        {{ round + 1 }}
                    </td>
                    <td>
                        {{ dataL[round] }}
                    </td>
                    <td>
                        {{ dataPU[round] }}
                    </td>
                    <td>
                        {{ dataK[round] }}
                    </td>
                    <td>
                        {{ events[round] }}
                    </td>
                </tr>
          </table>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<app-footer class="footer-bottom"></app-footer>
