.footer-bottom {
  position: fixed;
  background-color: #1e1e1e !important;
  font-family: 'Verdana', Verdana!important;
  margin: 1!important;
  overflow-x: hidden!important;
  color: #FDFDFF!important;
  bottom: 0 !important;
  width: 100%;
}
th {
    position: sticky;
    top: 0;
    background-color: rgb(53, 53, 53);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table {
    text-align: left;
}

.overview {
    text-align: center;
    font-size: 400% ;
}

.scroll {
    height:600px;
    overflow-y:scroll;
}