<div>
  <div class="container">
    <h1>Expertenmodus</h1>
    <div>
      <!--muss für jede Simulation festgelegt werden-->
      <form #simulationInput="ngForm" (ngSubmit)="onSubmitExpert(rundenanzahl, eventWahrscheinlichkeit)">
        <div class="">
          <div class="row">
            <div class="col-sm">
              <label for="rundenanzahl">Anzahl Runden:</label>
              <input required name="rundenanzahl" id="input" [(ngModel)]="rundenanzahl"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="eventWahrscheinlichkeit">Eventwahrscheinlichkeit:</label> <span>
                {{ eventWahrscheinlichkeit * 100 | number:'1.0-0' }} %</span>
              <input required name="eventWahrscheinlichkeit" [(ngModel)]="eventWahrscheinlichkeit"
                placeholder="0.5" type="range" class="custom-range" min="0" max="1" value="eventWahrscheinlichkeit"
                step="0.01">
            </div>
          </div>
        </div>


        <!--LIEFERANT-->
        <div>
          <h2>Lieferanten</h2>
          <div class="form-row" *ngFor="let lieferant of lieferantenArray">
            <div class="col-sm">
              <label for="name">Name</label>
              <input required name="lieferant.name" id="input" [(ngModel)]="lieferant.name"
                placeholder="Lightsped" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kapital">Kapital</label>
              <input required name="lieferant.kapital" id="input" [(ngModel)]="lieferant.kapital"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kosten">Kosten</label>
              <input required name="lieferant.kosten" id="input" [(ngModel)]="lieferant.kosten"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="preis">Preis</label>
              <input required name="lieferant.preis" id="input" [(ngModel)]="lieferant.preis"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="lager">Lagerkapazität</label>
              <input required name="lieferant.lager" id="input" [(ngModel)]="lieferant.lager"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="lagerMax">max. Lagerkap.</label>
              <input required name="lieferant.lagerMax" id="input" [(ngModel)]="lieferant.lagerMax"
                placeholder="1000" type="number" class="form-control">
            </div>
          </div>
        </div>
        <div class="text-right">
          <br>
          <button id="button" (click)="addLieferant()" type="submit">+</button>
          <br>
        </div>


        <!--PRODUKTIONSUNTERNEHMEN-->
        <div>
          <h2>Produktionsunternehmen</h2>
          <div class="form-row" *ngFor="let produktionsunternehmen of produktionsunternehmenArray">
            <div class="col-sm">
              <label for="name">Name</label>
              <input required name="produktionsunternehmen.name" id="input" [(ngModel)]="produktionsunternehmen.name"
                placeholder="Tante Emma" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="währung">Währung</label>
              <select required name="produktionsunternehmen.currency" id="input" [(ngModel)]="produktionsunternehmen.currency"
                type="dropdown" class="form-control">
                <option value="1" selected>EUR</option>
                <option value="2" selected>USD</option>
                <option value="3" selected>CHF</option>
                <option value="4" selected>GBP</option>
              </select>
            </div>
            <div class="col-sm">
              <label for="kapital">Kapital</label>
              <input required name="produktionsunternehmen.kapital" id="input" [(ngModel)]="produktionsunternehmen.kapital"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kaufinteresse">Kaufinteresse</label>
              <input required name="produktionsunternehmen.kaufInteresse" id="input"
                [(ngModel)]="produktionsunternehmen.kaufInteresse" placeholder="1000" type="number"
                class="form-control">
            </div>
            <div class="col-sm">
              <label for="produktionsmenge">Produktionsmenge</label>
              <input required name="produktionsunternehmen.produktionsmenge" id="input"
                [(ngModel)]="produktionsunternehmen.produktionsmenge" placeholder="1000" type="number"
                class="form-control">
            </div>
            <div class="col-sm">
              <label for="kosten">Kosten</label>
              <input required name="produktionsunternehmen.kosten" id="input" [(ngModel)]="produktionsunternehmen.kosten"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="lagerkapazität">Lagerkapazität</label>
              <input required name="kunde.lagerkap" id="input" [(ngModel)]="produktionsunternehmen.lagerkap"
                placeholder="1000" type="number" class="form-control">
            </div>
          </div>
          <div class="text-right">
            <br>
            <!--produktionsunternehmen hinzufügen-->
            <button id="button" (click)="addProduktionsunternehmen()" type="submit">+</button>
            <br>
          </div>
        </div>

        <!--KUNDE-->
        <div>
          <h2>Kunden</h2>
          <div class="row" *ngFor="let kunde of kundenArray">
            <div class="col-sm">
              <label for="name">Name</label>
              <input required name="kunde.name" id="input" [(ngModel)]="kunde.name"
                placeholder="Anna Gruber" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kapital">Kapital</label>
              <input required name="kunde.kapital" id="input" [(ngModel)]="kunde.kapital"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="einkommen">Einkommen</label>
              <input required name="kunde.einkommen" id="input" [(ngModel)]="kunde.einkommen"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="lebenskosten">Lebenskosten</label>
              <input required name="kunde.lebenskosten" id="input" [(ngModel)]="kunde.lebenskosten"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kauflust">Kauflust</label>
              <input required name="kunde.kauflust" id="input" [(ngModel)]="kunde.kauflust"
                placeholder="1000" type="number" class="form-control">
            </div>
            <div class="col-sm">
              <label for="kaufpräferenz">Kaufpräferenz</label>
              <select required name="kunde.kaufpref" id="input" [(ngModel)]="kunde.kaufpref"
                type="dropdown" class="form-control">
                <option value="1" selected>Chips</option>
                <option value="2">Schokolade</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-right">
          <br>
          <!--Kunde hinzufügen-->
          <button id="button" (click)="addKunde()"  type="submit">+</button>
          <br>


        <div class="text-center">
                <button id="button" type="submit">Simulation starten</button>
            </div>
        </div>
