<div>
  <div class="container">
    <h1>Expertenmodus</h1>
    <form #simulationInput="ngForm" (ngSubmit)="onSubmit(simulationInput.value)">
      <div class="row">
        <div class="col-sm">
          <label for="rundenanzahl">Anzahl Runden:</label>
          <input required name="rundenanzahl" [(ngModel)]="simulationInput.rundenanzahl" placeholder="1000"
            type="number" class="form-control">
        </div>
        <div class="col-sm">
          <label for="eventWahrscheinlichkeit">Eventwahrscheinlichkeit:</label> <span>
            {{ simulationInput.eventWahrscheinlichkeit * 100 | number:'1.0-0' }} %</span>
          <input required name="eventWahrscheinlichkeit" [(ngModel)]="simulationInput.eventWahrscheinlichkeit"
            placeholder="0.5" type="range" class="custom-range" min="0" max="1" value="eventWahrscheinlichkeit"
            step="0.01">
        </div>
      </div>
      <h2>Neuer Kunde</h2>
      <div class="row">
        <div class="col-sm">
          <label for="rundenanzahl">Anzahl Runden:</label>
          <input required name="rundenanzahl" [(ngModel)]="simulationInput.rundenanzahl" placeholder="1000"
            type="number" class="form-control">
        </div>
        <div class="col-sm">
          <label for="eventWahrscheinlichkeit">Eventwahrscheinlichkeit:</label> <span>
            {{ simulationInput.eventWahrscheinlichkeit * 100 | number:'1.0-0' }} %</span>
          <input required name="eventWahrscheinlichkeit" [(ngModel)]="simulationInput.eventWahrscheinlichkeit"
            placeholder="0.5" type="range" class="custom-range" min="0" max="1" value="eventWahrscheinlichkeit"
            step="0.01">
        </div>
      </div>
