<div class="form-group">
    <label for="usr">Anzahl Runden:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-inline">
    <div class="form-group">
        <label for="usr">Anzahl Lieferanten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Anzahl Kunden:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Anzahl Produzenten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <label for="usr">Minimalkapital Lieferanten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Minimalkapital Kunden:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Minimalkapital Produzenten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <label for="usr">Maximalkapital Lieferanten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Maximalkapital Kunden:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Maximalkapital Produzenten:</label>
        <input type="text" class="form-control" id="usr">
    </div>
</div>
