@@ -0,0 +1,204 @@
html{
  position: relative!important;
  min-height: 100%!important;
  font-family: Benton Sans, Geneva, sans-serif;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 800!important;
}
.container{
  margin-bottom: 012%!important;
}

body{
  position: relative!important;
  background: linear-gradient(to bottom, #33323a, #1e1e1e)!important;
  background-color: #313036 !important;
  font-family: 'Benton Sans', Benton Sans!important;
  margin: 1!important;
  overflow-x: hidden!important;
  color: #FDFDFF!important;

}

div{
    font-family: Benton Sans, Geneva, sans-serif;
}

h2{
font-size: 22px;;
word-spacing: 0px;
color: #FDFDFF;
text-decoration: underline solid #902efd;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h1{
font-size: 26px;
word-spacing: 0px;
color: #FDFDFF;
text-decoration: underline solid #51fdfd;
font-style: normal;
font-variant: normal;
text-transform: none;
}
#input{
  padding: 5px;
  font-size: 20px;
  border-width: 2px;
  border-color: #902EFD;
  background-color: #e6e6e6;
  color: #000000;
  border-style: double;
  border-radius: 30px;
  box-shadow: 0px 0px 14px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-align: center;
}

button{
   background: #51FDFD !important;
   background-image: -webkit-linear-gradient(top, #51FDFD, #902EFD)!important;
   background-image: -moz-linear-gradient(top, #51FDFD, #902EFD) !important;
   background-image: -ms-linear-gradient(top, #51FDFD, #902EFD) !important;
   background-image: -o-linear-gradient(top, #51FDFD, #902EFD)!important;
   background: linear-gradient(to bottom, #51FDFD, #902EFD)!important;
   -webkit-border-radius: 100px!important;
   -moz-border-radius: 100px!important;
   border-radius: 100px!important;
   color: #FDFDFF!important;
   font-family: Verdana!important;
   font-size: 100%!important;
   font-weight: 600!important;
   padding: 1%!important;
   -webkit-box-shadow: 1px 1px 20px 0 #000000!important;
   -moz-box-shadow: 1px 1px 20px 0 #000000!important;
   box-shadow: 1px 1px 20px 0 #000000!important;
   text-shadow: 0 0 20px #000000!important;
   border: solid #902EFD 3px!important;
   text-decoration: none!important;
   display: inline-block!important;
   cursor: pointer!important;
   text-decoration: none!important;
   display: inline-block!important;
   cursor: pointer!important;
   text-align: center!important;
 }
 button:hover{
    border: groove #51FDFD 3px!important;
    background: #51FDFD!important;
    background-image: -webkit-linear-gradient(top, #51FDFD, #902EFD)!important;
    background-image: -moz-linear-gradient(top, #51FDFD, #902EFD)!important;
    background-image: -ms-linear-gradient(top, #51FDFD, #902EFD)!important;
    background-image: -o-linear-gradient(top, #51FDFD, #902EFD)!important;
    background: linear-gradient(to bottom, #51FDFD, #902EFD)!important;
    -webkit-border-radius: 100px!important;
    -moz-border-radius: 100px!important;
    border-radius: 100px!important;
 }

 .range {
   -webkit-appearance: none;
   -moz-appearance: none;
   position: absolute;
   left: 50%;
   top: 50%;
   width: 200px;
   margin-top: 10px;
   transform: translate(-50%, -50%);
 }

 .range {
   -webkit-appearance: none;
   -moz-appearance: none;
   position: absolute;
   left: 50%;
   top: 50%;
   width: 200px;
   margin-top: 10px;
   transform: translate(-50%, -50%);
 }

 input[type=range]::-webkit-slider-runnable-track {
   -webkit-appearance: none;
   background: rgba(59,173,227,1);
   background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
   background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
   height: 2px;
 }

 input[type=range]:focus {
   outline: none;
 }

 input[type=range]::-moz-range-track {
   -moz-appearance: none;
   background: rgba(59,173,227,1);
   background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
   background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
   height: 2px;
 }

 input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: 2px solid;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   max-width: 80px;
   position: relative;
   bottom: 11px;
   background-color: #1d1c25;
   cursor: -webkit-grab;

   -webkit-transition: border 1000ms ease;
   transition: border 1000ms ease;
 }

 input[type=range]::-moz-range-thumb {
   -moz-appearance: none;
   border: 2px solid;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   max-width: 80px;
   position: relative;
   bottom: 11px;
   background-color: #1d1c25;
   cursor: -moz-grab;
   -moz-transition: border 1000ms ease;
   transition: border 1000ms ease;
 }



 .range.blue::-webkit-slider-thumb {
    border-color: rgb(59,173,227);
 }

 .range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87,111,230);
 }

 .range.purple::-webkit-slider-thumb {
    border-color: rgb(152,68,183);
 }

 .range.pink::-webkit-slider-thumb {
    border-color: rgb(255,53,127);
 }

 .range.blue::-moz-range-thumb {
    border-color: rgb(59,173,227);
 }

 .range.ltpurple::-moz-range-thumb {
    border-color: rgb(87,111,230);
 }

 .range.purple::-moz-range-thumb {
    border-color: rgb(152,68,183);
 }

 .range.pink::-moz-range-thumb {
    border-color: rgb(255,53,127);
 }

 input[type=range]::-webkit-slider-thumb:active {
   cursor: -webkit-grabbing;
 }

 input[type=range]::-moz-range-thumb:active {
   cursor: -moz-grabbing;
 }
